@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
.col-sm-10{
position:absolute;
bottom:0;
right:35%;



}

.menu-item-object-custom {
margin:15px;
}

.menu-item{
text-transform:uppercase !important;
}

.logo-site-title{
		font-size:50px !important;
	font-family: 'Crimson Text', serif !important;
position:absolute;
top:0;
left:230%;

}
.header-nav-wrapper {
height:120px;
}
